@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

:root {
    --main-bg-color: #031927ff;
    --secondary-bg-color: #548687ff;
    --main-text-color: #f8f1ffff;
    --main-details-color: #ba5c12ff;
}

.contenedor {
    width: 100%;
    overflow: hidden;
}

/* CABECERA */
.cabecera {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 5;
    transition: background-color .2s ease-in-out;
    position: fixed;
    top: 0px;
}

.cabecera h1 {
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 1.7rem;
}

.cabecera h1 span {
    color: var(--main-text-color);
    font-weight: 200;
}

.cabecera ul {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.cabecera li {
    height: 100%;
    list-style: none;
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 200;
    font-size: .9rem;
}

.cabecera li a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--main-text-color);
    padding: 0 10px;
    background-image: linear-gradient(var(--main-text-color), var(--main-text-color));
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size .3s;
    font-weight: 300;
}

.cabecera li a:hover {
    color: var(--main-text-color);
    background-size: 100% 3px;
}

.cabecera .activo {
    color: var(--main-text-color);
    background-size: 100% 3px;
}

.boton_cv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    background-image: linear-gradient(to right bottom, #ba5c12, #c7671c, #d57225, #e27d2d, #f08836);
    cursor: pointer;
    border: 0;
    transition: transform .1s;
    font: inherit;
    line-height: normal;
    overflow: visible;
    -webkit-appearance: button;
    -moz: none;
    -ms: none;
}

.boton_cv a {
    color: var(--main-text-color);
    font-weight: 400;
    text-decoration: none;
}

.boton_cv i {
    color: var(--main-text-color);
    font-size: 1.1rem;
    font-weight: 400;
}

.fijar {
    background-color: rgba(248, 241, 255, .1);
    backdrop-filter: blur(20px);
    box-shadow: rgba(3, 25, 39, 1) 0 0 10px;
}

.cabecera > i {
    display: none;
}

.menu_responsive {
    display: none;
}
/* FIN CABECERA */

/* SECCIÓN INICIO */
.inicio {
    width: 100%;
    height: 100vh;
    background-image: url(../IMG/fondo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.contenido_inicio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgba(3, 25, 39, .85);
}

.info {
    width: 60%;
    text-align: center;
}

.info h2 {
    font-weight: 700;
    font-size: 4rem;
    color: var(--main-text-color);
    margin-bottom: 20px;
    text-shadow: 0px 0px 5px black;
}

.info h2 span {
    font-weight: 200;
    font-size: 4rem;
    color: var(--main-text-color);
}

.info p {
    color: var(--main-text-color);
    opacity: .7;
    font-size: 1.1rem;
    font-weight: 200;
    text-shadow: 0px 0px 5px black;
}

.saber_mas {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: var(--main-text-color);
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: opacity .2s ease-in-out;
    opacity: .7;
    text-shadow: 0px 0px 5px black;
}

.saber_mas:hover {
    transition: opacity .2s ease-in-out;
    opacity: 1;
}

.saber_mas i {
    animation: flecha 1s ease-in-out infinite;
}

@keyframes flecha {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, 10px);
    }
    100% {
        transform: translate(0px, 0px);
    }
    }
/* FIN SECCIÓN SOBRE MÍ */

/* SECCIÓN SOBRE MI */
.sobre_mi {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: var(--secondary-bg-color);
    padding: 50px 100px;
}

.contenido_imagen {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.imagen {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--main-bg-color);
    padding-top: 50px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

/* .imagen .patron_imagen {
    width: 150%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
} */

.imagen img {
    width: 90%;
}

.contenido_sobre_mi {
    width: 60%;
}

.contenido_sobre_mi h2 {
    width: 100%;
    font-weight: 500;
    font-size: 4rem;
    color: var(--main-text-color);
    margin-bottom: 50px;
    text-align: left;
}

.pestanas {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.pestanas p {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--main-bg-color);
    padding: 0 5px 10px 5px;
    background-image: linear-gradient(var(--main-details-color), var(--main-details-color));
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size .3s;
}

.pestanas p:hover {
    cursor: pointer;
    background-size: 100% 3px;
}

.pestana_activa {
    background-size: 100% 3px!important;
}

.contenido_pestanas {
    width: 100%;
    padding: 30px 5px 0px 5px;
}

#pestana2, #pestana3 {
    display: none;
    width: 100%;
}

#pestana1 {
    flex-direction: column;
}

#pestana1 p:nth-child(1) {
    color: var(--main-bg-color);
    font-size: 1.1rem;
    font-weight: 200;
    text-align: justify;
    margin-bottom: 10px;
}

#pestana1 p:nth-child(2) {
    color: var(--main-bg-color);
    font-size: 1.1rem;
    font-weight: 200;
    text-align: justify;
    margin-bottom: 10px;
}

#pestana1 p:nth-child(3) {
    color: var(--main-bg-color);
    font-size: 1.1rem;
    font-weight: 200;
    text-align: justify;
}

#pestana2 {
    flex-wrap: wrap;
}

.curso {
    width: 50%;
    display: flex!important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    /* border: 2px solid var(--main-text-color); */
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 20px;
    background-color: var(--main-bg-color);
}

.curso h3 > i {
    color: var(--main-text-color);
    font-size: 1.1rem;
    font-weight: 200;
    margin-right: 10px;
}

.curso h3 {
    width: 100%;
    color: var(--main-text-color);
    font-size: 1.1rem;
    font-weight: 200;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.info_curso {
    width: 100%;
    display: flex!important;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.info_curso p {
    width: 30%;
    display: flex!important;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--main-text-color);
    font-size: .8rem;
    font-weight: 200;
    margin-bottom: 10px;
}

.info_curso i {
    color: var(--main-text-color);
}

#pestana3 {
    flex-wrap: wrap;
}

.categoria_habilidad {
    width: 25%;
    display: flex!important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.habilidad {
    width: auto;
    display: flex!important;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.icono_habilidad {
    width: 30px;
    height: 30px;
    display: flex!important;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--main-text-color);
}

.icono_habilidad img {
    width: 80%;
}

.habilidad p {
    color: var(--main-text-color);
    font-size: .9rem;
    font-weight: 200;
}
/* FIN SECCIÓN SOBRE MI */

/* SECCIÓN PROYECTOS */
.proyectos {
    width: 100%;
    background-color: var(--main-bg-color);
    padding: 50px 100px;
}

.proyectos h2 {
    font-weight: 500;
    font-size: 4rem;
    color: var(--main-text-color);
    margin-bottom: 50px;
    text-align: center;
}

.contenido_proyecto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.carta_proyecto {
    width: 32%;
    height: 400px;
    max-height: 300px;
    border-radius: 5px;
    border: solid 2px var(--main-text-color);
    box-shadow: 0px 0px 5px black;
    transition: background-size .3s ease-in-out;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.carta_proyecto:hover {
    transition: background-size .3s ease-in-out;
    background-size: auto 110%;
}

.carta_proyecto:hover .info_proyecto {
    transition: bottom .3s ease-in-out;
    bottom: 0;
}

.info_proyecto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: rgba(3, 25, 39, .9);
    padding: 20px;
    position: absolute;
    transition: bottom .3s ease-in-out;
    bottom: -100%;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px black;
}

.encabezado_proyecto {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.encabezado_proyecto h3 {
    font-size: 1.7rem;
    color: var(--main-text-color);
    font-weight: 300;
}

.tecnologias_fecha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.tecnologias_fecha i {
    text-align: center;
    font-size: 1.2rem;
    color: var(--main-text-color);
    font-weight: 200;
    border-radius: 5px;
    padding: 5px;
}

.tecnologias_fecha p {
    text-align: center;
    font-size: 1rem;
    color: var(--main-text-color);
    font-weight: 200;
    border-radius: 5px;
    text-align: right;
    margin-left: 10px;
}

.descripcion_proyecto {
    width: 100%;
    color: var(--main-text-color);
    font-weight: 200;
    text-align: justify;
    font-size: .9rem;
}

.links_proyecto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.links_proyecto button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: background-color .2s ease-in-out;
    font: inherit;
    line-height: normal;
    overflow: visible;
    -webkit-appearance: button;
    -moz: none;
    -ms: none;
    border: 2px solid var(--main-details-color);
    padding: 5px 15px;
    border-radius: 5px;
}

.links_proyecto button:hover {
    transition: background-color .2s ease-in-out;
    background-color: var(--main-details-color);
}

.links_proyecto a {
    color: var(--main-text-color);
    font-weight: 200;
    text-decoration: none;
}
/* FIN SECCIÓN PROYECTOS */

/* SECCIÓN CONTACTO */
.contacto {
    width: 100%;
    background-color: var(--secondary-bg-color);
    padding: 20px;
    padding: 50px 100px;
}

.contacto h2 {
    font-weight: 500;
    font-size: 4rem;
    color: var(--main-text-color);
    margin-bottom: 50px;
    text-align: center;
}

.contacto ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
  }
  
  .contacto ul li {
    width: 20%;
    list-style: none;
  }
  
  .contacto ul li a {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    /* border: 3px solid var(--main-text-color); */
    border-radius: 5px;
    z-index: 1;
    text-decoration: none;
  }
  
  .contacto ul li a .icon {
    position: relative;
    color: var(--main-bg-color);
    transition: .5s;
    z-index: 3;
    font-size: 3rem;
  }
  
  .contacto ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  .contacto ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  .contacto ul li a:hover:before {
    top: 0;
  }
  
  .contacto ul li:nth-child(1) a:before{
    background: #171515;
  }
  
  .contacto ul li:nth-child(2) a:before{
    background: #0077b5;
  }
  
  .contacto ul li:nth-child(3) a:before {
    background: #55acee;
  }
  
  .contacto ul li:nth-child(4) a:before {
    background: #de5246;
  }


/* .formulario {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
    z-index: 1s;
}

.input_email {
    width: 100%;
    border-bottom: 2px solid rgba(248, 241, 255, .7);
    position: relative;
}

.input_email input {
    width: 100%;
    font-size: 1.2rem;
}

.input_asunto {
    width: 100%;
    border-bottom: 2px solid rgba(248, 241, 255, .7);
    position: relative;
}

.input_asunto input {
    width: 100%;
    font-size: 1.2rem;
}

.input_mensaje {
    width: 100%;
    border-bottom: 2px solid rgba(248, 241, 255, .7);
    position: relative;
}

.input_mensaje textarea {
    width: 100%;
    font-size: 1.2rem;
    resize: none;
}

.formulario input[type='email'], input[type='text'], textarea {
    height: auto;
    background-color: transparent;
    border: none;
    color: var(--main-text-color);
    padding: 5px;
    font-weight: 200;
    font-size: 1.1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-text-fill-color: var(--main-text-color) !important;
    transition: background-color 5000s ease-in-out 0s;
}

.formulario input, textarea:focus {
    outline: none;
}

.formulario .label_formulario {
    color: rgba(248, 241, 255, .7);
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 1.1rem;
    transition: all .2s ease-in-out;
    cursor: text;
    font-weight: 200;
}

#email-error, #asunto-error, #mensaje-error {
    color: rgba(186, 92, 18, .9);
    position: absolute;
    bottom: -25px;
    left: 5px;
    font-size: .8rem;
    transition: all .2s ease-in-out;
    cursor: text;
}

.icono_mensaje_formulario {
    margin-right: 5px;
}

.boton_formulario {
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: background-color .2s ease-in-out;
    font: inherit;
    line-height: normal;
    overflow: visible;
    -webkit-appearance: button;
    -moz: none;
    -ms: none;
    border: 2px solid var(--main-details-color);
    padding: 5px 15px;
    border-radius: 5px;
    color: var(--main-text-color);
}

.boton_formulario:hover {
    transition: background-color .2s ease-in-out;
    background-color: var(--main-details-color);
} */
/* FIN SECCIÓN CONTACTO */

/* FOOTER */
.pie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: var(--main-bg-color);
}

.pie p {
    color: var(--main-text-color);
    font-weight: 200;
    text-align: center;
}

.rrss_pie {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px auto 0 auto;
}

.rrss_pie a {
    text-decoration: none;
}

.rrss_pie i {
    font-size: 3rem;
    color: var(--main-text-color);
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.rrss_pie i:hover {
    transition: transform .2s ease-in-out;
    transform: rotate(5deg);
}
/* FIN FOOTER */

/* ICONO RRSS */
.rrss {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 50px;
    left: 50px;
    cursor: pointer;
    overflow: hidden;
}

.rrss > i {
    font-size: 2rem;
    color: rgba(248, 241, 255, 1);
    background-image: linear-gradient(to right bottom, #ba5c12, #c7671c, #d57225, #e27d2d, #f08836);
    border-radius: 5px;
    padding: 10px 12px;
    z-index: 4;
}

.menu_rrss {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: -145px;
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 5px;
    transition: bottom .3s ease-in-out;
}

.menu_rrss i {
    font-size: 2rem;
    color: var(--main-text-color);
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.menu_rrss i:hover {
    transition: transform .2s ease-in-out;
    transform: rotate(5deg);
}
/* FIN ICONO RRSS */

/* FLECHA SUBIR HACIA SOBRE MI */
.flecha_subir {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}

.flecha_subir i {
    font-size: 2rem;
    color: rgba(248, 241, 255, 1);
    background-image: linear-gradient(to right bottom, #ba5c12, #c7671c, #d57225, #e27d2d, #f08836);
    border-radius: 5px;
    padding: 10px;
    z-index: 4;
}
/* FIN FLECHA SUBIR HACIA SOBRE MI */