:root {
    --main-bg-color: #031927ff;
    --secondary-bg-color: #548687ff;
    --main-text-color: #f8f1ffff;
    --main-details-color: #ba5c12ff;
}

@media screen and (max-width: 1200px) {
    .carta_proyecto {
        width: 47%;
    }

    .encabezado_proyecto h3 {
        font-size: 1.5rem;
    }

    .tecnologias_fecha i {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .cabecera > ul {
        display: none;
    }

    .cabecera > i {
        display: inline;
        font-size: 1.7rem;
        color: var(--main-text-color);
        cursor: pointer;
    }

    .menu_responsive {
        width: 30%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: -30%;
        z-index: 1;
        padding: 20px;
        background-color: var(--main-bg-color);
        box-shadow: rgba(3, 25, 39, 1) 0 0 10px;
        padding: 20px 10px;
    }

    .menu_responsive ul {
        height: 50%;
        flex-direction: column;
        justify-content: center;
    }

    .boton_cv {
        margin-left: 0;
    }

    .menu_responsive > i {
        display: none;
        position: fixed;
        top: 30px;
        right: 30px;
        font-size: 1.7rem;
        color: var(--main-text-color);
        cursor: pointer;
    }

    .cabecera li a {
        padding-bottom: 20px;
    }

    .cabecera li a:hover {
        background-size: 0% 3px;
    }

    .info {
        width: 80%;
    }

    .info p {
        width: 80%;
        margin: 0 auto;
    }

    .saber_mas {
        width: 20%;
        bottom: 70px;
    }

    .sobre_mi {
        flex-direction: column;
        align-items: center;
    }

    .contenido_imagen {
        display: none;
    }

    .contenido_sobre_mi {
        width: 100%;
    }

    .contenido_sobre_mi h2 {
        text-align: center;
    }

    .pestanas {
        justify-content: center;
    }

    .info_curso p {
        width: 60%;
    }

    .habilidad p {
        font-size: .8rem;
    }

    #pestana2 {
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .curso {
        width: 70%;
        margin-right: 0;
    }

    .categoria_habilidad {
        width: 20%;
        margin-left: 5%;
    }

    .proyectos {
        padding: 50px 20px;
    }

    .carta_proyecto {
        width: 60%;
    }

    .contacto ul li a:hover .icon {
        color: var(--main-bg-color);
        transform: rotateY(0deg);
      }

    .contacto ul li a:hover:before {
        top: 100%;
      }

    .rrss {
        display: none;
    }

    .rrss_responsive {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    .rrss_responsive a {
        text-decoration: none;
    }

    .rrss_responsive i {
        font-size: 2rem;
        color: var(--main-text-color);
        transition: transform .2s ease-in-out;
        cursor: pointer;
    }

    .rrss_responsive i:hover {
        transition: transform .2s ease-in-out;
        transform: rotate(5deg);
    }
}

@media screen and (max-width: 550px) {
    .cabecera h1 {
        font-size: 1.1rem;
    }

    .menu_responsive {
        width: 50%;
        right: -50%;
    }

    .cabecera > i {
        font-size: 1.1rem;
    }

    .menu_responsive > i {
        font-size: 1.1rem;
    }

    .info h2 {
        font-size: 2.5rem;
    }

    .info h2 span {
        font-size: 2.5rem;
    }

    .info p {
        width: 95%;
        font-size: 1rem;
    }

    .saber_mas {
        width: 50%;
    }

    .sobre_mi {
        padding: 50px 20px;
    }

    .contenido_sobre_mi h2 {
        font-size: 3rem;
        margin-bottom: 40px;
    }

    .contenido_imagen {
        width: 70%;
    }

    .curso {
        width: 100%;
    }

    .categoria_habilidad {
        width: 40%;
        margin-left: 10%;
    }

    .categoria_habilidad:nth-child(1), .categoria_habilidad:nth-child(2) {
        margin-bottom: 30px;
    }

    .categoria_habilidad:nth-child(3) {
        margin-bottom: 40px;
    }

    .proyectos h2 {
        font-size: 3rem;
        margin-bottom: 40px;
    }

    .carta_proyecto {
        width: 100%;
    }

    .encabezado_proyecto h3 {
        font-size: 1rem;
    }

    .tecnologias_fecha i {
        font-size: 1rem;
    }

    .links_proyecto a {
        font-size: .9rem;
    }

    .contacto {
        padding: 50px 20px;
    }

    .contacto h2 {
        font-size: 3rem;
        margin-bottom: 40px;
    }

    .contacto ul li a .icon {
        font-size: 2rem;
    }

    .contacto ul li a {
        height: 100px;
    }

}